.float-right
  = link_to 'Edit student', edit_department_path(@department)
  \|
  = link_to 'Delete student', @department, data: { confirm: 'Are you sure?' }
  \|
  = link_to 'Back to departments', departments_path
%p
  %b Code:
  = @department.code
%p
  %b Name:
  = @department.name
